.ft-border{
	border: none;
}
html{
	scroll-behavior: smooth;
}
.img-responsive{
   /* background: url(/images/logo.png) 0 0 no-repeat;
    width: 268px;
    height: 96px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;*/
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    border-radius: 60%;
}
#abcd {
  background-image: url(../../keyboard2.gif);
  background-size: cover;
  background-blend-mode: screen;
  background-color: #5b88a3;
}

